<div class="main-page-container">
  <div class="subtitle">
    <figure>
      <blockquote class="blockquote">
        <p>The best quotes of the Internet are near.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Someone famous in <cite title="Source Title">Source Title</cite>
      </figcaption>
    </figure>
  </div>
  <div class="search-field">
    <div class="input-group">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Input group example"
        aria-label="Input group example"
        aria-describedby="basic-addon1"
      />
    </div>
    <button class="btn btn-primary btn-lg">Search</button>
  </div>
  <div class="title">
    <p>Don'Quote</p>
  </div>
</div>
