
$primary: #350000;

@import "../node_modules/bootstrap/scss/bootstrap";
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';

@font-face {
  font-family: killam;
  src: url(assets/font/Killam-Bold.ttf) format("ttf");
}

@font-face {
  font-family: 'therock';
  src: url(assets/font/THEROCK.woff) format("woff");
}

@font-face {
  font-family: 'prison';
  src: url(assets/font/The_Prison.woff) format("woff");
}

body {
  background-color: var(--bs-primary-bg-subtle);;
}